<p id="notice"><%= notice %></p>

<h1>Obras</h1>

<%
if (request.fullpath == "/obras") then
  mostrar_todo = true
  ruta_mapa = "obras/mapa/todas"
elsif (request.fullpath == "/obras_ganadas") then
  mostrar_ganadas = true
  ruta_mapa = "obras/mapa/ganadas"
elsif (request.fullpath == "/obras_perdidas") then
  mostrar_perdidas = true
  ruta_mapa = "obras/mapa/perdidas"
elsif (request.fullpath == "/obras_nuevas") then
  mostrar_nuevas = true
  ruta_mapa = "obras/mapa/nuevas"
elsif (request.fullpath == "/obras_sin_vendedor") then
  mostrar_sin_vendedor = true
  ruta_mapa = "obras/mapa/sin_vendedor"
end
%>

<%= link_to 'Ver Mapa', ruta_mapa %>

<!--%= "#{mostrar_ganadas}" %-->

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Encargado</th>
      <th>Contratista</th>
      <th>Propietario</th>
      <th>Comentarios</th>

      <% 
      if 
        (!mostrar_ganadas) ||
        mostrar_todo
      then
      %>
      <th>Superficie</th>
      <th>Viguetes</th>
      <th>Casetón</th>
      <% end %>

      <!--
      <th>Foto</th>
      -->

      <th>Nombre</th>

      <% 
      if 
        (!mostrar_sin_vendedor) ||
        mostrar_todo
      then
      %>
        <th>Próxima visita</th>
        <th>Nota</th>
      <% end %>
      
      <!--
      <th>Calle</th>
      <th>Número</th>
      <th>Barrio</th>
      <th>Zona</th>
      <th>Ciudad</th>
      <th>Latitud</th>
      <th>Longitud</th>
      -->

      <th>Observaciones</th>

      <!--
      <th>Ganado</th>
      -->

      <% 
      if 
        (mostrar_ganadas) ||
        mostrar_todo
      then
      %>
        <th>Adjudicado</th>
        <th>Motivo de adjudicación</th>
      <% end %>

      <!--
      <th>Comentarios</th>
      <th>Contrato</th>
      <th>Fecha cierre</th>
      -->

      <th>Vendedor</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @obras.each do |obra| %>
      <tr>
        <td><%= obra.id %></td>
        <td>
          <%= obra.nombre_encargado %>
          <br>
          <%= obra.telefono_encargado %>
        </td>
        <td>
          <%= obra.nombre_contratista %>
          <br>
          <%= obra.telefono_contratista %>
        </td>
        <td>
          <%= obra.nombre_propietario %>
          <br>
          <%= obra.telefono_propietario %>
        </td>
        <td><%= obra.comentarios %></td>
        
        <% 
        if 
          (!mostrar_ganadas) ||
          mostrar_todo
        then
        %>
        <td><%= obra.superficie_aproximada %></td>
        <td><%= if obra.viguetes then "Sí" else "No" end %></td>
        <td><%= if obra.caseton then "Sí" else "No" end %></td>
        <% end %>

        <!--
        <td><%= obra.foto %></td>
        -->
        <td><%= obra.nombre %></td>

        <% 
        if 
          (!mostrar_sin_vendedor) ||
          mostrar_todo
        then
        %>
          <td><%= if obra.proxima_visita then obra.proxima_visita.to_formatted_s(:rfc822) end %></td>
          <td><%= obra.nota %></td>
        <% end %>
        <!--
        <td><%= obra.calle %></td>
        <td><%= obra.numero %></td>
        <td><%= obra.barrio %></td>
        <td><%= obra.zona %></td>
        <td><%= obra.ciudad %></td>
        <td><%= obra.latitud %></td>
        <td><%= obra.longitud %></td>
        -->
        <td><%= obra.observaciones %></td>
        <!--
        <td><%= obra.ganado %></td>
        -->

        <% 
        if 
          (mostrar_ganadas) ||
          mostrar_todo
        then
        %>
        <td><%= obra.adjudicado %></td>
        <td><%= obra.motivo %></td>
        <% end %>

        <!--
        <td><%= obra.comentarios %></td>
        <td><%= obra.contrato %></td>
        <td><%= obra.fecha_cierre %></td>
        -->
        <td><%= if obra.usuario then obra.usuario.nombre_completo else "---" end  %></td>
        <td><%= if obra.cliente then obra.cliente.nombre else "---" end %></td>
        <td><%= link_to 'Mostrar', obra %></td>
        <td><%= link_to 'Editar', edit_obra_path(obra) %></td>
        <td><%= link_to 'Eliminar', obra, method: :delete, data: { confirm: '¿Está seguro de que desea eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


