<p id="notice"><%= notice %></p>

<div id="map"></div>
<style>
  /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
  #map {
    height: 80%;
  }
</style>

<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -17.78, lng: -63.18},
      zoom: 13
    });

    <% if @obras then %>
      <% @obras.each do |obra| %>
        <% if obra.latitud && obra.longitud then %>
          var marker = new google.maps.Marker({
              position: {
                lat: <%= obra.latitud %>, 
                lng: <%= obra.longitud %>
              },
              map: map,
              url: "obras/<%= obra.id %>",
              title: "<%= if obra.usuario then obra.usuario.nombre_completo else 'Sin Usuario' end %>",
              icon: "/icono/" + <%= if obra.usuario then obra.usuario.id else 0 end %>
          });
          google.maps.event.addListener(marker, 'click', function() {
            window.location.href = marker.url;
            return false;
          });
        <% end %>
      <% end %>
    <% end %>
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqfy376SVREdng1hHZqADWtRtfHzQZghA&callback=initMap&sensor=false"
async defer></script>