<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre encargado:</strong>
  <%= @obra.nombre_encargado %>
</p>

<p>
  <strong>Teléfono encargado:</strong>
  <%= @obra.telefono_encargado %>
</p>

<p>
  <strong>Nombre contratista:</strong>
  <%= @obra.nombre_contratista %>
</p>

<p>
  <strong>Teléfono contratista:</strong>
  <%= @obra.telefono_contratista %>
</p>

<p>
  <strong>Nombre propietario:</strong>
  <%= @obra.nombre_propietario %>
</p>

<p>
  <strong>Teléfono propietario:</strong>
  <%= @obra.telefono_propietario %>
</p>

<p>
  <strong>Superficie aproximada:</strong>
  <%= @obra.superficie_aproximada %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @obra.comentarios %>
</p>

<p>
  <strong>Viguetes:</strong>
  <%= @obra.viguetes %>
</p>

<p>
  <strong>Caseton:</strong>
  <%= @obra.caseton %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @obra.foto %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @obra.nombre %>
</p>

<p>
  <strong>Proxima visita:</strong>
  <%= @obra.proxima_visita %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @obra.nota %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @obra.calle %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @obra.numero %>
</p>

<p>
  <strong>Barrio:</strong>
  <%= @obra.barrio %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @obra.zona %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @obra.ciudad %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @obra.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @obra.longitud %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @obra.observaciones %>
</p>

<p>
  <strong>Ganado:</strong>
  <%= @obra.ganado %>
</p>

<p>
  <strong>Adjudicado:</strong>
  <%= @obra.adjudicado %>
</p>

<p>
  <strong>Motivo:</strong>
  <%= @obra.motivo %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @obra.comentarios %>
</p>

<p>
  <strong>Contrato:</strong>
  <%= @obra.contrato %>
</p>

<p>
  <strong>Fecha cierre:</strong>
  <%= @obra.fecha_cierre %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= if @obra.cliente then @obra.cliente.nombre else "---" end %>
</p>

<p>
  <strong>Vendedor asignado:</strong>
  <%= if @obra.usuario then @obra.usuario.nombre_completo else "---" end %>
</p>

<p>
  <strong>Reportado por:</strong>
  <%= if @obra.reportado_por then @obra.reportado_por.nombre_completo else "---" end %>
</p>

<p>
  <% if @obra.foto && @obra.foto.length > 4 then %>
    <a href= <%= "/ver_imagen/" + @obra.foto %> >Ver Foto</a>
  <% end %>
</p>

<%= link_to 'Editar', edit_obra_path(@obra) %> |
