<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> evitó que este usuario sea guardado:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_interno, "Id" %>
    <%= form.text_field :id_interno %>
  </div>

  <div class="field">
    <%= form.label :nombres %>
    <%= form.text_field :nombres %>
  </div>

  <div class="field">
    <%= form.label :apellidos %>
    <%= form.text_field :apellidos %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :nombre_de_usuario %>
    <%= form.text_field :nombre_de_usuario %>
  </div>

  <div class="field">
    <%= form.label :contrasenha %>
    <%= form.text_field :contrasenha %>
  </div>

  <div class="field">
    <%= form.label :tipo_usuario_id %>
    <!--%= form.text_field :tipo_usuario_id %-->
    <%= form.select :tipo_usuario_id, options_from_collection_for_select(TipoUsuario.all, :id, :tipo, @usuario.tipo_usuario_id) %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
